@font-face 
{
    font-family: 'D&D';
    src: url('./Bookinsanity.otf') format('truetype');
}

.carousel-caption.text-left
{
    font-family: 'D&D';
    color: #ffffff; /* Branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@font-face 
{
    font-family: 'Tormenta';
    src: url('./Tormenta.ttf') format('truetype');
}

.carousel-caption
{
    font-family: 'Tormenta';
    color: #ffffff; /* Branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@font-face 
{
    font-family: 'OrdemParanormal';
    src: url('./Blur\ Light\ Regular.otf') format('truetype');
}

.carousel-caption.text-right
{
    font-family: 'OrdemParanormal';
    color: #ffffff; /* Branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}